<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EPL</title>
</head>
<body>
EPL teams in alphabet order  </br>
                             </br>
                            <a href="EPL/arsenal" >Arsenal</a>  </br>
                            <a href="EPL/aston_villa" >Aston Villa</a>  </br>
                            <a href="EPL/brentford" >Brentford</a>  </br>
                            <a href="EPL/brighton" >Brighton</a>  </br>
                            <a href="EPL/burnley" >Burnley</a>  </br>
                            <a href="EPL/chelsea" >Chelsea</a>  </br>
                            <a href="EPL/crystal_palac" >Crystal Palac</a>  </br>
                            <a href="EPL/everton" >Everton</a>  </br>
                            <a href="EPL/leeds_united" >Leeds United</a>  </br>
                            <a href="EPL/leicester_city" >Leicester City</a>  </br>
                            <a href="EPL/liverpool" >Liverpool</a>  </br>
                            <a href="EPL/manchester_city" >Manchester City</a>  </br>
                            <a href="EPL/manchester_united" >Manchester United</a>  </br>
                            <a href="EPL/norwich_city" >Norwich City</a>  </br>
                            <a href="EPL/southampton" >Southampton</a>  </br>
                            <a href="EPL/tottenham_hotspur" >Tottenham Hotspur</a>  </br>
                            <a href="EPL/watford" >Watford</a>  </br>
                            <a href="EPL/west_ham_united" >West Ham United</a>  </br>
                            <a href="EPL/wolverhampton_wanderers" >Wolverhampton Wanderers</a>  </br>

</body>
</html>