<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EPL</title>
</head>
<body>
EPL teams in alphabet order  </br>
                             </br>
                            <a href="/Leagues/EPL/arsenal" >Arsenal</a>  </br>
                            Aston Villa  </br>
                            Brentford  </br>
                            Brighton  </br>
                            Burnley  </br>
                            Chelsea  </br>
                            Crystal Palac  </br>
                            Everton  </br>
                            Leeds United  </br>
                            Leicester City  </br>
                            Liverpool  </br>
                            Manchester City  </br>
                            Manchester United  </br>
                            Newcastle United  </br>
                            Norwich City  </br>
                            Southampton  </br>
                            Tottenham Hotspur  </br>
                            Watford  </br>
                            West Ham United  </br>
                            Wolverhampton Wanderers  </br>
</body>
</html>